#abby_article
    .l-article *
    .ctr-phrases-container *
    .ctr-examples-container *
        font: 13px/16px Arial,Verdana,Geneva,sans-serif !important

    a
        color: #1b75bc !important
        background: none repeat scroll 0 0 transparent !important
        font-size: 100% !important
        margin: 0 !important
        padding: 0 !important
        vertical-align: baseline !important

    h2
        font-size: 100% !important

    .l-article
    .ctr-phrases-container
    .ctr-examples-container
        position: relative !important
        padding: 20px !important

    td
        vertical-align: top !important

    .g-hidden
        display: none !important

    .g-clear
        clear: both !important
        display: block !important

    .ctr-tab-warning
        background: #ffe28a none repeat scroll 0 0 !important
        color: #6a5c3f !important
        font-size: 0.9em !important
        font-weight: bold !important
        padding: 6px 12px !important
        font-weight: bold !important
        margin: 20px !important

    .g-icons
        background-image: url('../../../images/abby/icons.png') !important


    .l-article .g-card .Accent
        color: #f00 !important

    .l-article .Bold
        color: #231f20 !important
        font-weight: bold !important

    .l-article__commentlink
        color: #de4900 !important
        text-decoration: none !important

    .l-article .P1
        margin: 0.1em 0 !important
        padding-left: 10px !important

    .l-article .P2
        margin: 0.1em 0 !important
        padding-left: 20px !important

    .l-article__abbrev
        color: #2d8d17 !important
        font-style: italic !important

    .l-article__showExamp
    .l-article__showExamp:visited
        color: #000 !important
        text-decoration: none !important
        border: 1px solid rgba(0,0,0,0) !important
        border-bottom: 1px dotted #999 !important

    .l-article__transcription
        vertical-align: -4px !important

    .l-examples
        color: #505050 !important

    .l-examples__tblExamp
        border: 1px solid #cfcfcf !important
        width: 100% !important

    .l-examples__tr:first-child .l-examples__tdExamp
    .l-examples__tdExamp.wrong
        border-top: medium none !important

    .l-examples__tdExamp.orig
        width: 49% !important

    .l-examples__tdExamp
        border-top: 1px solid #cfcfcf !important

    .l-examples__text
        padding: 10px 14px !important
        word-wrap: break-word !important

    .l-examples__found
        background: #ffdc7f none repeat scroll 0 0 !important
        font-style: normal !important

    .l-examples__tdExamp.transl
        width: 49% !important

    .l-examples__tdExamp.action
        padding: 9px 0 !important
        text-align: right !important
        width: 22px !important
        vertical-align: bottom !important

    .l-examples__switchbtn
        background-position: 0 -416px !important
        cursor: pointer !important
        margin: 0 6px 0 0 !important
        width: 16px !important
        height: 16px !important

    .l-examples__switchbtn.expanded
        background-position: -16px -415px !important

    .l-examples__sourceExamp
        background: #f6f6f6 none repeat scroll 0 0  !important
        border-top: 1px solid #cfcfcf  !important
        padding-right: 22px  !important

    .l-examples__lcol
    .l-examples__rcol
        float: left  !important
        width: 50%  !important
        word-wrap: break-word  !important

    .l-examples__sourceText
    .l-examples__sourceText *
        color: #70848f !important
        font-size: 1em !important

    .l-examples__sourceText
        padding: 10px 14px !important

    .g-tblresult
        width: 100% !important

    .g-tblresult__td
        background: #f3f3f3 none repeat scroll 0 0 !important
        border: 1px solid #c6c6c6 !important
        color: #505050 !important
        padding: 8px 6px !important
        vertical-align: middle !important

    .l-phrases__link
    .l-phrases__link:visited
        color: #505050 !important
        text-decoration: none !important

    .l-glossary__srcwordred
        color: #dd4900 !important
    
    .g-tblresult__td.pointer
        padding: 0 !important
        text-align: center !important
        vertical-align: middle !important
        width: 32px !important

    .g-tblresult__pointer
        background-position: 0 -235px !important
        width: 11px !important
        height: 12px !important

    .g-tblresult__td.transl
        background: #fff none repeat scroll 0 0 !important

    .l-phrases__link
    .l-phrases__link:visited
        color: #505050 !important
        text-decoration: none !important