<div class="flex-space-around fill-absolute">
	<div class="side-col"></div>
	<div class="learning-col full-height">
	    <div id="stencil" class="fill-absolute">
	    	<div id="top-block"></div>
	    	<div id="magnifier-block">
	    		<div id="learning-cards" class="fill-absolute">
	    			{{#each sessionWords as |wordToExam|}}
						{{examination-card wordToExam=wordToExam onSelect=(action "nextWord")}}
					{{/each}}
					{{#if isSummary}}
						{{examination-summary-card hasMoreWords=hasMoreWords bookName=model.name promotes=promotes onExamine=(action "changeSession") }}
					{{/if}}
				</div>
			</div>
			<div id="bottom-block"></div>
	    </div>
		<div id="learning-cards-shadow" class="fill-absolute">
			<div class="learning-card" style="background: transparent;"></div>
			{{#each sessionWords as |wordToExam|}}
				{{examination-card wordToExam=wordToExam}}
			{{/each}}
		</div>
	</div>
	<div class="side-col"></div>
</div>