<div id="install_ct_alert" class="popover with-arrow">
  <div class="popover-content">
    Please, install Crome extension <a href="localhost/cooltranslator">Cool Translator</a>. It will allow you to translate words and add them to vocabulary.
	</div>
</div>
<div id="target_info_alert" class="popover with-arrow">
   	<div class="popover-content">
        <p class="target-count">
        	Current goal: {{targetCount}} words
        </p>
        <p class="completed-count"> 
        	Completed: {{totalCompletedCount}} words
        </p>
	</div>
</div>