<div class="row full-height">
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Nouns" words=nouns }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Verbs" words=verbs }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Adjectives" words=adjectives }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Adverbs" words=adverbs }}
	</div>
</div>