<div id="install_ct_alert" class="popover">
   	<div class="arrow"></div>
		<h3 class="popover-title">JavaScript Access</h3>

   	<div class="popover-content">
          You should install <a href="localhost:3000/cooltranslator">Cool Translator</a> if you wanna add new words to your vocabulary. Currently it is available for Chrome browser.
   	</div>
</div>
