<div id="install_ct_alert" class="popover">
   	<div class="arrow"></div>
	<h3 class="popover-title">Install Cool Translator</h3>
   	<div class="popover-content">
        You should install <a href="localhost:13189/cooltranslator">Cool Translator</a> if you wanna add new words to your vocabulary. Currently it is available for Chrome browser.
	</div>
</div>
<div id="target_info_alert" class="popover">
   	<div class="arrow"></div>
   	<div class="popover-content">
        <p class="target-count">
        	Current target: {{targetCount}} words
        </p>
        <p class="completed-count"> 
        	Completed: {{totalCompletedCount}} words
        </p>
	</div>
</div>