<div class="row full-height">
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Nouns" words=nouns showDetails="showWordDetails" }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Verbs" words=verbs showDetails="showWordDetails" }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Adjectives" words=adjectives showDetails="showWordDetails" }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Adverbs" words=adverbs showDetails="showWordDetails" }}
	</div>
</div>