<div class="row full-height">
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Nouns" words=nouns }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Verbs" words=model.verbs }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Adjectives" words=model.adjectives }}
	</div>
	<div class="words-col  col-xs-3 full-height">
		{{speachpart-block title="Adverbs" words=model.adverbs }}
	</div>
</div>