<div class="flex-centered fill-absolute">
	<div class="learning-col full-height">
	    <div class="stencil fill-absolute">
	    	<div class="top-block"></div>
	    	<div class="magnifier-block">
	    		<div class="learning-cards fill-absolute">
					<div class="learning-card">{{word-description}}</div>
					<div class="learning-card">Voluptates ut totam doloribus, voluptas, beatae dolor possimus rem, quae numquam ipsum recusandae, exercitationem eaque? Porro numquam eius velit! Natus, veniam architecto, vero fugit accusantium ipsum laborum quis cumque minima error reprehenderit quae deleniti nisi veritatis tempore. Ut, nisi eveniet eaque iste beatae facilis, ab libero. Voluptas nobis aliquam repellat placeat impedit quis, et eum sequi temporibus perspiciatis nostrum nulla expedita odio rerum. Assumenda esse nemo, odio reiciendis, nisi a in quo fugit dicta dolorem? Consequatur iusto voluptatum id error, et, eaque eveniet iste nemo fugit, voluptatem dignissimos voluptatibus eligendi repudiandae atque expedita sunt delectus explicabo. Modi beatae eum dolorem.</div>
					<div class="learning-card">Corporis ullam corrupti, earum aliquid similique sapiente beatae, id inventore amet, architecto ducimus esse repellat magnam, quia quaerat neque. Nihil cumque nesciunt at odio totam, dignissimos velit atque, iure voluptate, architecto aliquid quasi voluptas quisquam dolore dolores, ipsum laborum sed iusto. Pariatur officia nulla tenetur cumque modi maxime ducimus odit obcaecati, vero harum maiores quisquam placeat est minima molestiae temporibus nostrum! Consectetur tenetur illo accusamus officiis quos, doloremque ut sit deserunt, ducimus enim nobis minus tempore qui. Architecto dolore eaque aspernatur, reiciendis sed officia magnam at, necessitatibus, voluptatibus delectus consectetur quidem voluptas repudiandae. Repudiandae, officiis fugit quia distinctio, sequi totam.</div>
					<div class="learning-card">Consectetur obcaecati laboriosam ut, sit aliquam, praesentium. Rem neque, cumque quibusdam fugiat praesentium fugit quidem, iure corrupti aperiam eum accusamus, expedita quis nam maiores, aliquid eos aut. Iure praesentium ratione quaerat, dolores officia voluptate. Dolore delectus eos molestiae et repellat, pariatur velit error inventore nam praesentium nostrum, iusto mollitia ducimus itaque natus ea recusandae dolorem, corporis illo. Repudiandae ex dolor dolores laudantium sit modi praesentium earum non, omnis nemo nihil aperiam blanditiis, in iure veritatis. Nulla perspiciatis dolor minima incidunt tempore earum iusto repudiandae laudantium quas ullam, illum sunt non vero sint possimus repellendus illo exercitationem voluptas quo, autem recusandae.</div>
				</div>
				<div class="fill-absolute">
					<div class="learn-toolbox absolute-full-width pull-bottom">
						<button class="btn btn-info btn-xs">More</button>
						<button class="btn btn-success btn-xs">I got it, next...</button>
					</div>
				</div>
			</div>
			<div class="bottom-block"></div>
	    </div>


		<div class="learning-cards-shadow fill-absolute">
			<div class="learning-card"></div>
			<div class="learning-card">{{word-description}}</div>
			<div class="learning-card">Voluptates ut totam doloribus, voluptas, beatae dolor possimus rem, quae numquam ipsum recusandae, exercitationem eaque? Porro numquam eius velit! Natus, veniam architecto, vero fugit accusantium ipsum laborum quis cumque minima error reprehenderit quae deleniti nisi veritatis tempore. Ut, nisi eveniet eaque iste beatae facilis, ab libero. Voluptas nobis aliquam repellat placeat impedit quis, et eum sequi temporibus perspiciatis nostrum nulla expedita odio rerum. Assumenda esse nemo, odio reiciendis, nisi a in quo fugit dicta dolorem? Consequatur iusto voluptatum id error, et, eaque eveniet iste nemo fugit, voluptatem dignissimos voluptatibus eligendi repudiandae atque expedita sunt delectus explicabo. Modi beatae eum dolorem.</div>
			<div class="learning-card">Corporis ullam corrupti, earum aliquid similique sapiente beatae, id inventore amet, architecto ducimus esse repellat magnam, quia quaerat neque. Nihil cumque nesciunt at odio totam, dignissimos velit atque, iure voluptate, architecto aliquid quasi voluptas quisquam dolore dolores, ipsum laborum sed iusto. Pariatur officia nulla tenetur cumque modi maxime ducimus odit obcaecati, vero harum maiores quisquam placeat est minima molestiae temporibus nostrum! Consectetur tenetur illo accusamus officiis quos, doloremque ut sit deserunt, ducimus enim nobis minus tempore qui. Architecto dolore eaque aspernatur, reiciendis sed officia magnam at, necessitatibus, voluptatibus delectus consectetur quidem voluptas repudiandae. Repudiandae, officiis fugit quia distinctio, sequi totam.</div>
			<div class="learning-card">Consectetur obcaecati laboriosam ut, sit aliquam, praesentium. Rem neque, cumque quibusdam fugiat praesentium fugit quidem, iure corrupti aperiam eum accusamus, expedita quis nam maiores, aliquid eos aut. Iure praesentium ratione quaerat, dolores officia voluptate. Dolore delectus eos molestiae et repellat, pariatur velit error inventore nam praesentium nostrum, iusto mollitia ducimus itaque natus ea recusandae dolorem, corporis illo. Repudiandae ex dolor dolores laudantium sit modi praesentium earum non, omnis nemo nihil aperiam blanditiis, in iure veritatis. Nulla perspiciatis dolor minima incidunt tempore earum iusto repudiandae laudantium quas ullam, illum sunt non vero sint possimus repellendus illo exercitationem voluptas quo, autem recusandae.</div>
			<div class="learning-card"></div>
		</div>
	</div>
</div>
