<div class="col-xs-4">
	<span id="currentBook" style="margin-top: 6px;">{{model.name}}</span>
</div>
<div class="col-xs-8 text-right">
	<nav class="words-nav">
		<button class="btn btn-primary btn-sm" type="button">Previous word</button>
		<span class="words-progress"><b>8</b> of <b>20</b></span>
		<button class="btn btn-primary btn-sm" type="button">Next word</button>
	</nav>
</div>