@{
    ViewBag.Title = "Enlarge your English and Spanish vocabulary";
}

@section header{
<script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "Person",
    "name" : "Alexey Volkov",
    "url" : "https://plus.google.com/u/0/106450444752380859592"
    }
</script>

<link rel="chrome-webstore-item"
      href="https://chrome.google.com/webstore/detail/cifbpdjhjkopeekabdgfjgmcbcgloioi">

<style>
    .g-c-R {
        display: inline-block;
        vertical-align: top;
    }

    .g-c-Zi-s {
        width: 19px;
        height: 17px;
        background: no-repeat url(https://ssl.gstatic.com/chrome/webstore/images/sprites/consumer-088eb0c4ecec8f837d6ba3be3c3245f0.png) -32px -779px;
    }

    .g-c-s-L-Si {
        margin-right: 7px;
    }

    .g-c-s {
        display: inline-block;
        position: relative;
        vertical-align: text-bottom;
        top: 1px;
    }

    .g-c-l.g-c-wb {
        border-color: #4076ff;
        background-color: #5c92ff;
        background-image: linear-gradient(to bottom,#669eff,#5286ff);
    }

    .g-c.g-eg-ua-Kb-c-za, .g-c.g-eg-ua-Uc-c-za {
        padding: 0 20px 0 20px;
    }

    .g-c.g-eg-ua-Kb-c-za, .g-c.g-eg-ua-Uc-c-za {
        padding: 0 20px 0 20px;
    }

    .dd-Va {
        display: inline-block;
    }

    .g-eg-ua-Kb-c-za {
        height: 23px;
        font-size: 11px;
        line-height: 23px;
        min-width: -10px;
    }

    .g-c {
        border-radius: 2px;
        border: 1px solid;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0,0,0,0.1);
        text-transform: uppercase;
        box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
        outline: 0;
    }
</style>
}

<div class="centered-container">
    <div class="about-content">
        <h3>Cool Translator is a Chrome extension. You can use it to:</h3>
        <ol>
            <li>Tanslate words from web page with double click.</li>
            <li>Type in and translate random words.</li>
            <li>Add words to @Html.ActionLink("Cool Vocbulary","Vocabulary").</li>
        </ol>
        <div id="install_cv_button" role="button" style="display:none" class="hidden dd-Va g-c-wb g-eg-ua-Kb-c-za g-c-Oc-td-jb-oa g-c g-c-l" tabindex="0">
            <div class="g-c-x">
                <div class="g-c-s g-c-Zi-s g-c-s-L-Si"></div>
                <div class="g-c-R webstore-test-button-label">Add to Chrome</div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(window).load(function () {
            var isInstalled = !!$('#ctr_is_installed_cifbpdjhjkopeekabdgfjgmcbcgloioi').length;
            if (!isInstalled) {
                var $installButton = $('#install_cv_button');
                $installButton.show();
                $installButton.on('click', function () {
                    chrome.webstore.install();
                });
            }
        });
    </script>
}