@using Microsoft.AspNet.Identity
@using CoolVocabulary.Models;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OAuth login success</title>
</head>
<body>
    <script>
        var DEBUG = false;
        function CTAdapter() {
            this.extensionIsActive = false;
            this.extensionId = DEBUG ?
                "eplepheahdinbfhnjjnkhkebfdhenbad":
                "cifbpdjhjkopeekabdgfjgmcbcgloioi";
        }

        CTAdapter.prototype.sendOAuthSuccess = function (user, languages) {
            var self = this;
            if (window.chrome) {
                var MESSAGE_TYPE = "oauthsuccess";

                chrome.runtime.sendMessage(this.extensionId, {
                    type: MESSAGE_TYPE,
                    data: {
                        user: user,
                        languages: languages
                    }
                });
            }
        };

        var userData = @Html.Raw(Json.Encode(ViewBag.UserData));
        var ctAdapter = new CTAdapter();
        ctAdapter.sendOAuthSuccess(userData.user, userData.languages);
        window.close();
    </script>
</body>
</html>
