@model CoolVocabulary.Models.LoginViewModel
@{
    ViewBag.Title = "Enlarge your English and Spanish vocabulary";
}
@section header{
<script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "Person",
    "name" : "Alexey Volkov",
    "url" : "https://plus.google.com/u/0/106450444752380859592"
    }
</script>
}
<div class="centered-container">
    <div class="about-content">
        <h3>
            3 steps to learn new language:
        </h3>
        <ol>
            <li>Learn grammatics with:
                <img class="service-icon" src="/Content/images/babbel.ico" />
                <a target="_blank" href="http://babbel.com">
                    Babbel.com
                </a>
             and
                <img class="service-icon" src="https://www.duolingo.com/images/favicon.ico" />
                <a target="_blank" href="http://duolingo.com">
                    Duolingo.com
                </a>.</li>
            <li>
                Add new words to vocabulary with @Html.ActionLink("Cool Translator","CoolTranslator").
            </li>
            <li>
                Learn words with @Html.ActionLink("Cool Vocabulary","Vocabulary").
            </li>
        </ol>
        All services except <a target="_blank" href="http://babbel.com">babbel.com</a> are <strong>free</strong>.
    </div>
        @if (Request.IsAuthenticated){
        <div class="comments-container">
            <script src="https://apis.google.com/js/plusone.js"></script>
            <div id="comments"></div>
            <script>
                gapi.comments.render('comments', {
                    href: window.location,
                    width: '624',
                    first_party_property: 'BLOGGER',
                    view_type: 'FILTERED_POSTMOD'
                });
            </script>
        </div>
        }else{
        <div class="centered-ui">
            <div class="form-container account-actions">
                <a href="@Url.Action("Login", "Account")" id="loginLink">
                    <button class="btn btn-default">Sign In</button>
                </a>
                <a href="@Url.Action("Register", "Account")" id="registerLink">
                    <button class="btn btn-primary">Sign Up</button>
                </a>
            </div>
        </div>
        }
    </div>
</div>
