/***** NORMALIZE *******************************************************************************************************/
/*
  Set not inherited styles wich does not intersect with browser styles for specific tags
*/
#ctr_dialog #ctr_root
#ctr_dialog *
    background: transparent none repeat scroll 0 0 !important
    border: none 0 !important
    border-radius:0 !important
    border-collapse: collapse !important
    border-spacing: 0px !important
    box-sizing: border-box !important
    box-shadow: none !important
    color: #000 !important
    direction: ltr !important
    float: none !important
    letter-spacing: normal !important
    line-height: 1.3 !important
    list-style-type: none !important
    margin: 0 !important
    width: auto !important
    height: auto !important
    max-height:auto !important
    max-width:auto !important
    min-height:auto !important
    min-width:auto !important
    outline-style:none !important
    overflow: visible !important
    padding: 0 !important
    position: static !important
    text-align: left !important
    text-decoration: none !important
    text-indent: 0 !important
    text-transform: none !important
    transition: all 0s ease 0s !important
    vertical-align: baseline !important
    white-space: normal !important
    word-spacing: normal !important
    word-wrap: break-word !important
    
    .rtl 
        direction: rtl !important 
        text-align: right !important
        unicode-bidi: bidi-override !important

/* 
  Some sites set styles on tags. And this is a big problem. 
  To preserve our style we should set font style for this tags by ourself
*/

    div
    span
    a
    h1
    h2
    h3
    p
    ul              
    li             
    td
    p
    button
    textarea
    input
    option
    b
    strong
    i
    cite
    em
    pre
    tt
    pre  
        font-family: Arial, Helvetica !important

    div
    span
    a
    h1
    h2
    h3
    p
    ul              
    li             
    td
    p
    button
    textarea
    input
    option
        font-style: normal !important
        
    div
    form
    h1
    h2
    h3
    p
    ul               
        display: block unicode-bidi: embed 
    li               
        display: list-item 
    table            
        display: table 
    tr               
        display: table-row 
    tbody            
        display: table-row-group 
    td
    th           
        display: table-cell 
    th               
        font-weight: bolder text-align: center 
    h1               
        font-size: 2em margin: .67em 0 
    h2               
        font-size: 1.5em margin: .75em 0 
    h3               
        font-size: 1.17em margin: .83em 0 
    p
    ul
    form             
        margin: 1.12em 0 
    h1
    h2
    h3
    b
    strong           
        font-weight: bolder 
    i
    cite
    em               
        font-style: italic 
    pre
    tt               
        font-family: monospace 
    pre              
        white-space: pre 
    img
    button
    textarea
    input
    select           
        display: inline-block 
    tbody            
        vertical-align: middle 
    td
    th
    tr               
        vertical-align: inherit 
    br:before        
        content: "\A" white-space: pre-line 

/***** COMMON *********************************************************************************************************/

    .cf:before,
    .cf:after 
        content: ""
        display: table


    .cf:after 
        clear: both

    .cf 
        *zoom: 1

    :focus 
    	outline: 0


    .blue-button
        background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%) !important /* W3C */
        color: #fff !important
        padding: 3px 15px !important
        border-radius: 3px !important
        /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3) !important*/
        cursor: pointer !important
        text-align: center !important    


/***** SPINNER ********************************************************************************************************/

    .ctr-spinner
        display: none !important
        position: relative !important
        height: 17px !important
        div 
            width: 7px !important
            height: 7px !important
            position: absolute !important
            left: -20px
            top: 10px
            background-color: #64c8ef !important
            border-radius: 50% !important
            animation: move 4s infinite cubic-bezier(.2,.64,.81,.23)
            &:nth-child(2) 
                animation-delay: 150ms
            &:nth-child(3) 
                animation-delay: 300ms
            &:nth-child(4) 
                animation-delay: 450ms

    @keyframes move 
        0% left: 0%
        75% left:100%
        100% left:100%


/***** FLAGS ********************************************************************************************************/

    .ctr-flag-icon
        width: 24px !important
        height: 24px !important
        display: inline-block !important
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/flags.png') !important
        .ru
            background-position: 0 0 !important
        .en 
            background-position: -24px 0 !important
        .es 
            background-position: -48px 0 !important
        .pt 
            background-position: -72px 0 !important
        .fr 
            background-position: -96px 0 !important
        .it 
            background-position: -120px 0 !important
        .de 
            background-position: -144px 0 !important
        .ar 
            background-position: -168px 0 !important