#ctr_dialog #select_book_wrap
    width: 300px !important
    &>.header
        text-align: center !important
        font-size: 13px !important
        padding: 8px !important
        color: #555 !important
        background-color: rgba(44, 175, 227,0.1) !important


    &>.header>.pair
        font-weight: bold !important
        color: inherit !important


    &>.book-list>li
        padding: 6px 20px !important
        cursor: pointer !important


    &>.book-list>li:hover
        background: rgb(255, 244, 117) !important


    &>.book-list>li.ctr-selected
        background-color: rgb(255, 244, 117) !important


    &>.actions
        padding: 8px 20px !important
        opacity: 0.7 !important
        font-size: 11px !important


    input[type="checkbox"]
        vertical-align: middle !important