html{
	height: 100%;
}

body{
	background: linear-gradient(to top,#87e0fd 0,#53cbf1 40%,#05abe0 100%);
	min-height: 100vh;
    color: #2a2a28;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.3;
}

#page{
	border-left: 1px solid #dcdde1;
	border-right: 1px solid #dcdde1;
    position: relative;
    top: 0;
    transition: top ease-in 300ms; 
}

.block{
    background: url(/content/images/bg.png) top left repeat #ebeef2;
	box-shadow: 2px 2px 7px 1px rgba(0,0,0,.2);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar.topbar {
	width: 100%;
	background: transparent;
    border: 0;
	line-height: 1;
	font-size: 13px;
}

.topbar>.container {
	text-align: left;
	position: relative;
}

.topbar-navitems.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
    padding-top: 7px;
}

.topbar-navitems .navbar-nav>li>a{
    font-size: 13px;
    display: inline-block;
    height: 24px;
    padding: 10px 7px 0 7px;
    color: #fff;
    text-decoration: none;
    box-sizing: content-box;
    vertical-align: top;
    line-height:1;
    transition: background-color 0.15s;
}

#registerLink {
    padding: 6px 0 0;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.topbar-navitems .navbar-nav > li > a:hover,
.topbar-navitems .navbar-nav > li > a:focus {
    background-color: rgba(255,255,255,0.3);
    color: #fff;
}

.navbar-inverse .navbar-toggle{
    border-color: rgba(255,255,255,0.5);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255,255,255,0.3);
}

#logo{
    width:24px;
    height:24px;
    margin:5px 15px 0 5px;
    float:left;
}

#logo_mobile{
    width: 30px;
    height: 30px;
    margin: 10px 15px;
}

.topbar-user-links {
    margin-right: 10px;
}

/* CENTERED. STRUCTURE */

.centered-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding:0 30px;
}
.centered-ui {
    padding-top: 20px;
    text-align: center;
}
.centered-ui .form-container {
    width: 280px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e6e6e6;
    background: #fff;
    box-sizing: content-box;
}

.centered-header {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}


/* CENTERED. FORM */

.form-container form {
    text-align: left;
}

.form-container form input {
    margin: 5px 0 5px 0;
    transition: none;
}

.form-container form input[type=text],
.form-container form input[type=email],
.form-container form input[type=password] {
    color: #2a2a28;
    width: 263px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    cursor: auto !important;
    box-sizing: content-box;
}

.form-container form input[type=button],
.form-container form input[type=submit] {
    text-align: center;
    background: #07c;
    color: #fff;
    border-radius: 3px;
    width: 120px;
    padding: 12px 40px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0 !important;
}

.form-container form > label {
    margin: 0;
}

/* HEADER */

#current_target_progress,
#current_language {
    padding: 0 10px;
}

#current_target_progress > svg {
    width: 100px;
    height: 10px;
}

.menu-flex-centered {
    display: flex;
    align-items: center;
    align-content: space-around;
    height: 34px;
}

.account-actions button{
    width: 100%;
}

.account-actions #loginLink>button {
    margin-bottom: 20px;
}

a[target="_blank"]> i {
    vertical-align: top;
    font-size: 10px;
}

.about-content {
    margin-top: 50px;
    font-size: 17px;
}

    .about-content > ol > li {
        padding: 8px;
    }


        .about-content .service-icon{
            width: 16px;
            height: 16px;
        }

.comments-container {
    margin-top: 50px;
    text-align: center;
}

#comments {
    width: 100% !important;
    max-width: 625px;
}

/* MOBILE LAYOUT */

@media (max-width: 767px) {
    #toolbox {
        padding-top: 5px;
    }
    .navbar {
        margin-bottom: 0;
    }
    .topbar-navitems {
        position: absolute;
        width: 100%;
        background-color: rgba(0,0,0,0.86);
    }
        .topbar-navitems .navbar-nav > li > a {
            font-size:18px;
            padding: 10px 50px 0;
            display: block;
        }
}

@media (min-width: 768px){
    #toolbox {
        padding-top: 1px;
    }
}

@media (max-width: 1200px) {
    .words-col {
        min-height: 100px;
    }
}

.language-icon {
    width: 24px;
    height: 16px;
    display: inline-block;
    background-image: url('/content/images/flags.png');
    background-position-y: -4px;
    background-position-x: -24px;
}

.language-icon.ru {
    background-position-x: 0;
}

.language-icon.en {
    background-position-x: -24px;    
}

.language-icon.es {
    background-position-x: -48px;    
}

.language-icon.pt {
    background-position-x: -72px;    
}

.language-icon.fr {
    background-position-x: -96px;    
}

.language-icon.it {
    background-position-x: -120px;    
}

.language-icon.de {
    background-position-x: -144px;    
}

.language-icon.ar {
    background-position-x: -168px;    
}

/* MODAL */

.bootstrap-dialog .modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 10px rgba(0,0,0,.15);
}

.bootstrap-dialog .modal-dialog {
    margin-top: 40px;
}

.bootstrap-dialog .modal-dialog.modal-sm{
    max-width: 348px;
}

.bootstrap-dialog .bootstrap-dialog-title{
    color:#fff;
    display:inline-block;
    font-size:16px
}

.bootstrap-dialog .bootstrap-dialog-message{
    font-size:14px
}
.bootstrap-dialog .bootstrap-dialog-close-button{
    font-size:20px;
    opacity:.9
}
.bootstrap-dialog .bootstrap-dialog-close-button:hover{
    cursor:pointer;
    opacity:1
}

.bootstrap-dialog.type-primary .modal-header{
    background-color:#428bca
}

.bootstrap-dialog .modal-header {
    border-radius: 0;
}

.bootstrap-dialog .modal-footer {
    padding: 10px 27px 15px;
    border: 0;
    margin: 0;
}

.bootstrap-dialog .modal-footer button {
    background: 0 0;
    text-decoration: none !important;
    border-radius: 2px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 10px;
    font-weight: 700;
    color: #4680b3;
    border: 0;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    margin-left: 15px;
}

    .bootstrap-dialog .modal-footer button:hover,
    .bootstrap-dialog .modal-footer button:focus {
        background: 0 0;
        color: #4680b3;
        border: 0;
    }

    .bootstrap-dialog .modal-footer button.modal-cancel {
        color: #72a0c7;
    }