@using Microsoft.AspNet.Identity
@using CoolVocabulary.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ApplicationUser user=null;
    if (Request.IsAuthenticated){
        var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new VocabularyDbContext()));
        user = um.FindById(User.Identity.GetUserId());
    }
    if (user != null) { 
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })){
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(user.DisplayName, "CoolVocabulary", "Home", routeValues: null, htmlAttributes: new { title = "Управление", id="userName" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>
                <a href="@Url.Action("Register", "Account")" id="registerLink">
                    <button class="btn btn-primary btn-xs">Sign Up</button>
                </a>
            </li>
        </ul>
    }
}
