.navbar.topbar {
    width: 100%;
    background: rgba(0,0,0,0.86);
    height: 34px;
    line-height: 1;
    font-size: 13px;
    min-height: 34px;	/* rewrite bootstrap.css */
}

.topbar>.container {
    height: 34px;
    text-align: left;
    position: relative;
}

.topbar-navitems.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.topbar-navitems li{
    display: inline-block;
    height: 24px;
    padding: 10px 7px 0 7px;
    vertical-align: top;
}

.topbar-navitems .navbar-nav>li>a{
    font-size: 13px;
    padding: 0;
    margin: 0; 
    color: #e0e0e0;
    text-decoration: none;
}