/* COMMON */
.color-blue {
	color: #5bc0de
}

.light-shadow {
	box-shadow: 0px 2px 10px #999;
}

.color-grey{
	color: #aaa;
}

.color-grey:hover{
	color: #5bc0de;	
}

.glyphicon.btn-sm{
	vertical-align: middle;
	font-size: 0.85em;
	cursor: pointer;
	padding: 0 5px;
}

.splitter{
	margin:0;
	padding:0;
	border:0;
	border-top: 1px solid #ddd;
}

.splitter.with-caption{
	margin-bottom: -10px;
}

.splitter-block {
    text-align: center;
    margin-top: 10px;
}

.splitter-caption {
	font-variant: small-caps;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    background-color: #fff;
    color: #ccc;
}

.full-height{
	height:100%;
}

.fill-absolute{
	width:100%;
	height:100%;
	position:absolute;
}

.flex-centered{
	display: flex;
	justify-content: center;
	align-items: center;
}

#content{
	position: relative;
}

#content,#toolbox{
	background-color: #fff;
}

.sp-header{
	padding-left: 5px;
	font-size:14px;
	border:0;
	text-transform: uppercase;
	background: #E0EAEA; /*#5bc0de;*/ /*rgb(235,248,253);*/	/* #f0f0f0; */
	opacity: 0.7;
	margin-bottom: 5px;
}

.words-col{
	border: 0;
	border-right: solid 1px #e5e5e5;
}

.words-col:last-child{
	border: 0;
}

.sp-words{
	padding:0;
	font-size: 13px;
}

.sp-words > li{
	border: 0;
	border-bottom: 1px solid #ddd;
}

.sp-words > li > span{
	padding: 3px;
}

.sp-words > li:nth-child(odd){
	background-color: #f0f0f0;
}

.sp-words > li:hover{
	background: #E0EAEA;
}

.sp-words .word-translation{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin: 0 5px;
}

.word,
.translation{
	width: 45%;
	opacity: 0.9;
	cursor: pointer;
}

.word{
	color: #F55;
}

.translation{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.word-translation .show-details{
	width: 10%;
	cursor: pointer;
	padding: 3px;
	text-decoration: none;
}

.word-translation .show-details.active,
.word-translation .show-details:hover{
	background: #5bc0de;
	opacity: 0.88;
}

/* LEARNING */
#toolbox .learn,
#content .learn{
	background: #f6f6f6 !important;
}

#toolbox .learn>div{
	border-bottom: solid 1px #e5e5e5;	
}

#learning-col{
	position: relative;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	padding:0;
	width:600px;
}

#stencil{
    background:transparent;
    display: flex;
    z-index: 1989;	/* should overlay learning cards */
    flex-direction:column;
}
#top-block, #bottom-block{
    flex-grow:1;
}
#magnifier-block{
    height:300px;
    position:relative;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    background: #FFF;
    box-sizing: border-box;
    overflow:hidden;
}

.pull-bottom{
	bottom: 0;
}
  
#learning-cards{
	overflow: hidden;
}

#learning-cards-shadow{
	z-index: 1988;
	opacity: 0.2;
	overflow: hidden;
}

.learning-card{
	padding:5px;
	height: 300px;	/* same size as mignifier window */
}

.words-progress{
	font-size: 16px;
	padding: 0 20px;
	vertical-align: middle;
}

.words-nav{
	height: 40px;
}

.word-circle{
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background-color: #777;
}

.word-description{
	padding-left: 20px;
}

.word-original-wrap{
	vertical-align: middle;
	margin: 10px 0;
}

.word-original{
	font-size: 21px;
}

.word-picture{
	height: 100px;
	margin: 5px 0;
}

.speach-part{
	color: #2d8d17;
		font-style: italic;
		margin-right:4px;
		font-size: 0.9em;
}

.word-translations{
	margin-left: 10px;
}

.word-audio{
	width:24px;
	height:24px;
	display: inline-block;
	background: url('../../Content/images/sound.png');
	background-size: contain;
	vertical-align: -7px;
}  


/* CARDS NAVIGATION */

#learn_toolbox{
	position: absolute;
	width:100%;
	bottom: 0;
	padding-bottom: 10px;
}

/* Book */

#bookContainer{
  padding: 0 20px;
}

#bookContainer .dropdown-menu{
  min-width:300px;
  border-left: 10px solid #080808;
}

#bookContainer li>a{
	padding-right: 10px;
}

#bookContainer li>a:hover {
	background-color: #E0EAEA; /*#47a447;*/
	color: #000;
}

#currentBook{
  color: #444;
  font-size: 1.3em;
  line-height: 40px;
}

.manageIcons .glyphicon {
    opacity: 0.2;
    display: none;
    line-height: 18px;
}

.manageIcons .glyphicon:hover {
    opacity: 0.6;
}

a:hover .manageIcons .glyphicon {
    display: inline-block;
}

.addBookLink .glyphicon,
.bookLink .glyphicon-pencil {
    margin-right: 10px;
}

/* Word Details Popover */
#word_details_popover{
	position: absolute;
	background: #fafafa;
	border-radius: 0 0 5px 5px;
	border-top: 3px solid #080808;
	margin-top: -1px;
}

#word_details_popover:focus{
	outline: none;
}

.word-info{
	margin: 10px;
	font-size: 16px;
}

.word-sound{
	cursor: pointer;
	padding-left: 5px;
	display: inline-block;
}

.word-sound>img{
	width: 13px;
	height: 13px;
}

.word-sound:hover>img{
	width: 15px;
	height: 15px;
}

.pronunciation-wrap{
	margin-left: 16px;
}

.pronunciation{
	color: #777;
	font-size: 0.85em;
	font-family:'Lucida Console', monospace;
}

.word-pictures{
	padding: 0;
	margin: 0 10px 5px;
	text-align: center;
}

.word-pictures > li{
	display: inline-block;
	list-style-type: none;
	padding: 3px;
	cursor: pointer;
	position: relative;
}

.word-pictures .picSmall {
 	height: auto;
 	width: auto;
 	max-height: 30px;
 	max-width: 30px;
}

.word-pictures .picBig {
 	position: absolute;
 	visibility: hidden;
 	opacity: 0;
 	left: 15px;
 	top: 34px;
 	z-index: 1;
}

.word-pictures .picSmall:hover+.picBig{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
    transform: translate(-50%,0%);
}

.actions-block{
	margin: 10px 0 2px 5px;
}

.word-translations{
	margin: 5px 10px;
	padding-left: 20px;
}

.word-translations>li{
	/*list-style-type: none;*/
}

.word-translations>li .glyphicon-remove{
	visibility: hidden;
	display: inline-block;
	padding-top: 5px;
	font-size: 0.65em;
}

.word-translations>li:hover .glyphicon-remove{
	visibility: visible;
}