/* COMMON */
.color-blue {
	color: #5bc0de;
}

.bg-blue{
	background-color: #5bc0de !important;
}

.bg-green{
	background-color: #5cb85c !important;
}

.bg-grey{
	background-color: #e6e6e6 !important;
}

.light-shadow {
	box-shadow: 0px 2px 10px #999;
}

.color-grey{
	color: #aaa;
}

.color-grey:hover{
	color: #5bc0de;	
}

.glyphicon.btn-sm{
	vertical-align: middle;
	font-size: 0.85em;
	cursor: pointer;
	padding: 0 5px;
}

.splitter{
	margin:0;
	padding:0;
	border:0;
	border-top: 1px solid #ddd;
}

.splitter.with-caption{
	margin-bottom: -10px;
}

.splitter-block {
    text-align: center;
    margin-top: 10px;
}

.splitter-caption {
	font-variant: small-caps;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    background-color: #fff;
    color: #ccc;
}

.full-height{
	height:100%;
}

.fill-absolute{
	width:100%;
	height:100%;
	position:absolute;
}

.flex-centered{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-space-around{
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

/* http://davidwalsh.name/css-slide */

.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
	transition-property: max-height;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.slider.closed {
	max-height: 0;
}

/* http://weblog.west-wind.com/posts/2014/Feb/22/Using-CSS-Transitions-to-SlideUp-and-SlideDown */

.fadein, .fadeout {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.fadein {
    opacity: 1;
}

/****** scrollbar style from http://maxvoltar.com/, http://almaer.com/scrollbar/debug.html ****************************/

::-webkit-scrollbar {
    width: 6px; 
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background: #fff;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    -webkit-border-radius: 5px;
    background-color: #d5d9df;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #C1C5C9;
}

/* STRUCTURE */

body{
	background-color: #e6e6e6;	
}

#content{
	position: relative;
}

#content, #toolbox{
	background-color: #fff;
	border-left: 1px solid #dcdde1;
	border-right: 1px solid #dcdde1;
}

#toolbox{
	line-height: 26px;
}

.exam-link button,
.learn-link button{
	width:80px;
}

.learn-link{
	margin-right: 3px;
}

.dropdown-menu .logout-link{
	color: #4c4c45; 
}

.logout-link>i{
	margin-right: 8px;
	font-size: 12px;
}

.with-arrow:after,
.navbar .nav>li>.dropdown-menu:after{
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
}

.navbar .nav>li>.dropdown-menu:after{
    left: auto;
    right: 31px;
}

.popover.with-arrow{
	margin-top: 5px;
	color: #4c4c45;
	border-radius: 0;
}

.popover.with-arrow:after{
    left: 50%;
    transform: translate(-50%,0);
}

#userName+.dropdown-menu{
	margin-top:5px;
}

.sp-header{
	padding-left: 5px;
	margin-right: 15px;
	font-size:14px;
	border:0;
	text-transform: uppercase;
	background: #E0EAEA; /*#5bc0de;*/ /*rgb(235,248,253);*/	/* #f0f0f0; */
	opacity: 0.7;
	margin-bottom: 5px;
}

.words-col{
	padding-top: 8px;
	padding-right: 0;
	border: 0;
	border-right: solid 1px #e5e5e5;
}

.words-col:last-child{
	border: 0;
	padding-right:10px;
}

.sp-words{
	padding:0;
	font-size: 13px;
}

.sp-words > li{
	margin: 0 5px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.sp-words > li.completed{
	opacity: 0.5;
}

.sp-words > li.completed>.word{
	color: #2a2a28;
}

.sp-words > li>.word,
.sp-words > li>.show-details,
.sp-words > li>.translations{
	border: 0;
	border-bottom: 1px solid #ddd;
}

.sp-words > li > span{
	padding: 3px;
}

.sp-words > li:nth-child(odd)>.word,
.sp-words > li:nth-child(odd)>.show-details,
.sp-words > li:nth-child(odd)>.translations{
	background-color: #f0f0f0;
}

.sp-words > li:hover>.word,
.sp-words > li:hover>.show-details,
.sp-words > li:hover>.translations{
	background: #E0EAEA;
}

.word{
	color: #F55;
}

.sp-words .word,
.sp-words .translations{
	width: 45%;
	opacity: 0.9;
	cursor: pointer;
}

.sp-words .translations{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sp-words .show-details{
	width: 10%;
	cursor: pointer;
	padding: 3px;
	text-decoration: none;
}

.sp-words > li > .show-details.active,
.sp-words > li > .show-details:hover{
	background: #5bc0de;
	opacity: 0.88;
}

.sp-words > li > .learn-level{
	width: 15px;
	font-size: 10px;
}

.learn-level>.glyphicon-ok{
	font-size: 9px;
	color: #47a447;
	margin-left: 2px;
	line-height: 16px;
}

 .learn-battery{
    width: 15px;
    height: 6px;
    position: relative;
    vertical-align: middle;
}

/* LEARNING */
body.learn,
body.exam{
	background-color: #ccc;
}

.exam #toolbox,
.exam #content,
.learn #toolbox,
.learn #content{
	background-color: #ebeef2;
}

.exam #toolbox,
.learn #toolbox{
	border-bottom: 1px solid #dcdde1;/* #d5d5d5;*/
}

.learn #content,
.exam  #content{
	padding: 0;
}

/*.learn #toolbox >div{
	border-bottom: solid 1px #e5e5e5;	
}
*/
.learning-col{
	position: relative;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	padding:0;
	width:600px;
}

.side-col{
	width: 200px;
}

.hotkey-hint{
	padding: 5px 0;
	font-size: 13px;
	color: #bbb;
	font-style: italic;
}

.hotkey-hint>tt{
	color: #888;
	font-style: normal;
}

#stencil{
    background:transparent;
    display: flex;
    z-index: 1989;	/* should overlay learning cards */
    flex-direction:column;
}

#top-block,
#bottom-block{
    flex-grow:1;
}

#magnifier-block{
    height:350px;
    position:relative;
	/*background: #FFF;*/
    box-sizing: border-box;
    overflow: hidden;
}
  
#learning-cards{
	overflow: hidden;
	z-index: 2000;
}

#learning-cards-shadow{
	z-index: 1988;
	opacity: 0.15;
	overflow: hidden;
}

.learning-card .word.header{
	text-align: center;
    font-size: 1.5em;
}

/* CARDS NAVIGATION */

#cards_navigation{
	margin: 10px 0;
	height: 22px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.card-circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	opacity: 0.5;
	box-shadow: 1px 1px 5px 1px #bbb;
	background: #5cb85c;
}

.card-circle.active,
.card-circle:hover{
	transition: background-color 0.3s;
	opacity: 1;	
}

.card-circle.active{
	border: 0;
}

.card-circle.main{
	width: 13px;
	height: 13px;
	margin-top: -1px;	
}

.card-circle.examples{
	width: 8px;
	height: 8px;
}

/* WORDS NAVIGATION */

#next_word{
    z-index: 2001;
    width: 100px;
    position: absolute;
    right: 0;
    margin: 15px 20px;
    bottom: 0;
}

.words-nav{
	height: 32px;
}

.word-circle{
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #dcdde1;
}

.learn .word-circle{
	width: 14px;
	height: 14px;
	margin: 5px;
}

.exam .word-circle{
	width: 8px;
	height: 8px;
	margin: 2px;
}

.learn .word-circle.highlighted{
	background-color: #5cb85c;
}

.exam .word-circle.highlighted{
	background-color: #f0ad4e;
}

.exam .word-circle.highlighted.mistake{
	background-color: #dcdde1;
}

/* LEARNING CARD, EXAMINATION CARD */

.word-main-card,
.google-translations-card,
.google-definitions-card,
.word-examples-card{
	padding: 10px 20px;
}

.examination-card,
.learning-card,
.summary-card{
	height: 342px;	/* same size as mignifier window */
	position: relative;
	margin: 4px 6px 8px 6px;
	background-color: #fff;
}

.summary-card{
    padding: 0 30px;	
}

.summary-card .header{
	text-align: center;
    font-size: 1.3em;
    color: #444;
}

.summary-card .actions{
	text-align: center;
}

.learn .summary-card .header{
	padding: 30px;
}

.exam .summary-card .header{
	padding: 10px 0 20px;
}

.summary-card .actions button{
	font-variant: small-caps;
	width: 300px;
	margin: 5px;
}

.summary-card>.promote-results{
	height: 130px;
	padding: 0 50px;
	margin-bottom:10px;
	flex-direction: column;
    justify-content: center;
    display: flex;
}

.promote-header{
	color: #888;
	text-align: center;
    font-size: 15px;
    padding-top: 15px;
}

.promote-level{
	padding: 2px 0;
}

.promote-battery{
	width: 28px;
    height: 18px;
    vertical-align: middle;
}

.promote-level>.count{
	color: #888;
	margin-left: 15px;
	font-size: 13px;
	font-style: italic;
}

.promote-level>.count.completed{
	font-weight: bold;
}

.card-content{
	overflow: auto;
}

.word-main-card .card-content{
	height: 305px;
}

.google-translations-card .card-content,
.google-definitions-card .card-content,
.word-examples-card .card-content{
	height: 263px;
}

.learning-card .word-info-wrap{
	margin: 10px;
}

.learning-card .word-info{
	padding: 10px 20px;
}

.word-main-card .word{
	font-size: 1.5em;
}

.word-main-card .pronunciation{
	font-size: 1em;
}

.examination-card .translation{
	font-size: 1.2em;
}

.learning-card .word-pictures .picSmall{
 	max-height: 100px;
 	max-width: 100px;
 	border-radius: 7px;
}

.learning-card .word-pictures .picBig{
 	left: 50px;
 	top: 104px;
}


.word-main-card .translation{
	font-size: 1.2em;
	color: #444;	
}

.word-main-card .word-sound>img{
	width: 15px;
	height: 15px;
}

.word-main-card .word-sound:hover>img{
	width: 16px;
	height: 16px;
}


/* EXAMINATION CARD */

.examination-card{
	padding: 20px 30px;
}

.examination-card .card-content{
	height: 302px;
}

.examination-card .source-word,
.examination-card .target-words{
	flex-grow: 1;
	flex-basis: 50%;
}

.examination-card .word{
	font-size: 2em;
}

.examination-card ul{
	padding: 0;
	margin: 0;
}

.examination-card ul>li{
	list-style-type: none;
    background: #ebeef2;
    margin: 4px 0;
    border-radius: 3px;
    padding: 15px 20px;
    cursor: pointer;
    border: 1px solid #dcdde1;
    transition: background-color 0.3s;
}

.examination-card ul>li:hover{
	background-color: #f0ad4e;
}

.examination-card ul>li.mistake{
	background-color: #c9302c;
}

.examination-card ul>li.correct{
	background-color: #5cb85c;
}

/* EXAMPLES CARDS*/

.word-examples-card .example{
	line-height: 1.5;
	margin: 20px 30px;
}

.word-examples-card .example .original,
.word-examples-card .example .translation{
	padding: 10px 14px;
}

.word-examples-card .original{
	font-size: 16px;
}

.word-examples-card .translation{
	font-style: italic;
	color: #888;
}

.word-examples-card .l-examples__found{
	background: none 0px 0px repeat scroll rgb(255, 220, 127);
    font-style: normal;
}

/* GOOGLE CARDS*/

.gt-cd-c{
	margin-top: 10px;
	margin-left: 30px;
}

.gt-cd-t {
    color: #777 !important;
    font-size: 16px !important;
    padding-bottom: 4px !important;
}

.gt-card-ttl-txt {
    color: #222 !important;
    font-size: 16px !important;
    unicode-bidi: embed !important;
}

.gt-def-info {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 4px 0 12px 12px;
}

.gt-def-header{
	padding-top: 4px;
	font-size: 13px;
}

.gt-ex-info {
    margin: 4px 0 12px 0 !important;
}

.gt-def-example {
    color: #777 !important;
    unicode-bidi: inherit !important;
}

table.gt-baf-table {
    border-spacing: 0 !important;
}

table.gt-baf-table td {
    padding: 0 !important;
    vertical-align: middle !important;
}

div.gt-baf-pos-head {
    color: #222222 !important;
    font-size: 13px !important;
    margin: 4px 0 2px !important;
    text-align: left !important;
}

.gt-cd-pos {
    color: #888 !important;
    font-style: italic !important;
}

div.gt-baf-marker-container {
    height: 20px !important;
    margin: 1px 0 !important;
    overflow: hidden !important;
    padding: 0 0.1em 0 0.7em !important;
    text-align: right !important;
    vertical-align: top !important;
    width: 27px !important;
}

div.gt-baf-cts {
    background: none repeat scroll 0 0 #aaa !important;
    display: inline-block !important;
    height: 7px !important;
    margin: 6px 2px 5px 0 !important;
}

.gt-baf-word-clickable,.gt-baf-translations{
    font-family: arial,sans-serif !important;
}

.gt-baf-word-clickable {
    color: #000 !important;
    cursor: pointer !important;
    overflow: hidden !important;
    unicode-bidi: embed !important;
    vertical-align: top !important;
    white-space: nowrap !important;
    border: 1px solid rgba(0,0,0,0) !important;
}

.gt-baf-word-clickable, .gt-baf-translations{
    height: 20px !important;
    margin: 1px 0 0 12px !important;
    font-size: 1.1em;
}

div.gt-baf-translations {
    overflow: hidden !important;
    padding: 0 0 0 1em !important;
    unicode-bidi: embed !important;
    vertical-align: top !important;
    min-height: 20px !important;
}

.gt-baf-back {
    cursor: pointer !important;
    unicode-bidi: inherit !important;
    color: #777 !important;
}

/* BOOK */

#bookContainer{
  padding: 0 20px;
}

#bookContainer .dropdown-menu{
  min-width:300px;
  border-left: 6px solid #080808;
}

#bookContainer li>a{
	padding-right: 10px;
}

#bookContainer li>a:hover {
	background-color: #E0EAEA; /*#47a447;*/
	color: #000;
}

#currentBook{
  color: #444;
  font-size: 1.3em;
  line-height: 31px;
}

.manageIcons .glyphicon {
    opacity: 0.2;
    display: none;
    line-height: 18px;
}

.manageIcons .glyphicon:hover {
    opacity: 0.6;
}

a:hover .manageIcons .glyphicon {
    display: inline-block;
}

.addBookLink .glyphicon,
.bookLink .glyphicon-pencil {
    margin-right: 10px;
}

.book-progress{
}

.bookLink>.total{
    font-size: 10px;
    line-height: 20px;
    padding: 0 5px;
    color: #bbb;
    font-style: italic;
}

.book-progress>svg{
  width: 80px;
  border: 1px solid #ddd;
  height: 10px;
}

/* POPOVER */

#word_details_popover{
	position: absolute;
	background: #fafafa;
	border-radius: 0 0 5px 5px;
	border-top: 3px solid #080808;
	margin-top: -1px;
}

#word_details_popover:focus{
	outline: none;
}

.word-info{
	font-size: 16px;
}

#word_details_popover .word-info{
	margin: 10px;
}

.word-sound{
	cursor: pointer;
	padding-left: 5px;
	display: inline-block;
}

.word-sound>img{
	width: 13px;
	height: 13px;
}

.word-sound:hover>img{
	width: 15px;
	height: 15px;
}

.pronunciation-wrap{
	margin-left: 16px;
}

.pronunciation{
	color: #777;
	font-size: 0.85em;
	font-family:'Lucida Console', monospace;
}

.word-pictures{
	padding: 0;
	margin: 0 10px 5px;
	text-align: center;
}

.word-pictures > li{
	display: inline-block;
	list-style-type: none;
	padding: 3px;
	cursor: pointer;
	position: relative;
}

.word-pictures .picSmall {
 	height: auto;
 	width: auto;
 	max-height: 30px;
 	max-width: 30px;
}

.word-pictures .picBig {
 	position: absolute;
 	visibility: hidden;
 	opacity: 0;
 	left: 15px;
 	top: 34px;
 	z-index: 1;
}

.word-pictures .picSmall:hover+.picBig{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
    transform: translate(-50%,0%);
}

.actions-block{
	margin: 10px 0 2px 5px;
}

.word-translations{
	margin: 5px 10px;
	padding-left: 20px;
}

.word-translations>li{
	/*list-style-type: none;*/
}

.word-translations>li .glyphicon-remove{
	visibility: hidden;
	font-size: 0.65em;
}

.word-translations>li:hover .glyphicon-remove{
	visibility: visible;
}

/* PACMAN */

@keyframes rotate_pacman_half_up {
    0%,100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate_pacman_half_down {
    0%,100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes pacman-balls {
	0% { 
		opacity: 1
	}
    75% {
        opacity: .7
    }

    100% {
        -webkit-transform: translate(-100px,-6.25px);
        transform: translate(-100px,-6.25px)
    }
}

.pacman>div:first-of-type,.pacman>div:nth-child(2) {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid #39b3d7;
    border-left: 20px solid #39b3d7;
    border-bottom: 20px solid #39b3d7;
    border-radius: 20px
}

.pacman {
    position: relative
}

.pacman>div:nth-child(3) {
    -webkit-animation: pacman-balls 1s .33s infinite linear;
    animation: pacman-balls 1s .33s infinite linear
}

.pacman>div:nth-child(4) {
    -webkit-animation: pacman-balls 1s .66s infinite linear;
    animation: pacman-balls 1s .66s infinite linear
}

.pacman>div:nth-child(5) {
    -webkit-animation: pacman-balls 1s .99s infinite linear;
    animation: pacman-balls 1s .99s infinite linear
}

.pacman>div:first-of-type {
    -webkit-animation: rotate_pacman_half_up .5s 0s infinite;
    animation: rotate_pacman_half_up .5s 0s infinite
}

.pacman>div:nth-child(2) {
    -webkit-animation: rotate_pacman_half_down .5s 0s infinite;
    animation: rotate_pacman_half_down .5s 0s infinite;
    margin-top: -40px;
}

.pacman>div:nth-child(3),.pacman>div:nth-child(4),.pacman>div:nth-child(5),.pacman>div:nth-child(6) {
    background-color: #39b3d7;
    border-radius: 100%;
    margin: 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: translate(0,-6.25px);
    -ms-transform: translate(0,-6.25px);
    transform: translate(0,-6.25px);
    top: 20px;
    left: 100px;
    opacity: 0;
}