<div class="word header">
    {{card.wordToLearn.word.value}}
</div>
<div class="card-content">
    {{#each data as |spDefinitions|}}
    <div class="gt-cd-c">
        <div class="gt-cd-pos gt-def-header">
            {{speach-part spDefinitions.sp}}
        </div>
        <div class="gt-def-list" style="direction: ltr;">
        {{#each spDefinitions.definitions as |definition| }}
            <div class="gt-def-info">
                <div class="gt-def-row">{{{definition.definition}}}</div>
                <div class="gt-def-example">{{{definition.example}}}</div>
            </div>
        {{/each}}
        </div>
    </div>
    {{/each}}
</div>