<div class="summary-card light-shadow">
	<div class="header">
		And that was the last one. Do you want to examine translations?
	</div>
	<div class="actions">
		<button tabIndex="11" {{action 'examine'}} id="examine_btn" class="btn btn-warning">Examine</button>
		{{#if bookName}}
			{{#link-to 'book'}}
				<button tabIndex="12" id="later_btn" class="btn btn-default overflow-ellipsis">
					Back to "{{bookName}}"
				</button>
			{{/link-to}}
		{{else}}
			{{#link-to 'language'}}
				<button tabIndex="12" id="later_btn" class="btn btn-default overflow-ellipsis">
					Finish
				</button>
			{{/link-to}}
		{{/if}}
	</div>
</div>