<div class="cards-navigation flex-centered">
	{{#each cards as |card|}}
	<span {{action 'select' card}} class="{{if card.isActive 'active'}} card-circle {{card.type}}" title='{{card.type}}'></span>
	{{/each}}
</div>