<div class="summary-card light-shadow">
	<div class="header">
		That was the last one. Do you want to examine your knowledge?
	</div>
	<div class="actions">
		<button {{action 'examine'}} id="examine_btn" class="btn btn-warning">Examine</button>
		{{#link-to 'book'}}
			<button id="later_btn" class="btn btn-default overflow-ellipsis">Back to "{{bookName}}"</button>
		{{/link-to}}
	</div>
</div>