<div class="sp-block">
	<div class="sp-header">{{title}}</div>
	<table class="sp-words table">
		<tbody>
		{{#each words as |data|}}
			<tr class="word-translation">
				<td class="word" title='{{data.bookword.word.value}}'>{{data.bookword.word.value}}</td>
				<td class="show-details text-center">...</td>
				<td class="translation text-right">
					{{#each data.translations as |translation|}}
						{{translation.value}}&nbsp;
					{{/each}}
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>