<div class="sp-block">
	<div class="sp-header">{{title}}</div>
	<ul class="sp-words table">
		{{#each words as |data|}}
			<li class="word-translation">
				<span class="word" title='{{data.bookword.word.value}}'>{{data.bookword.word.value}}</span>
				<span class="show-details text-center">...</span>
				<span class="translation text-right">
					{{#each data.translations as |translation|}}
						{{translation.value}}&nbsp;
					{{/each}}
				</span>
			</li>
		{{/each}}
	</ul>
</div>