<div class="splitter-block">
  	<hr class="splitter with-caption">
  	<div class="splitter-caption">{{speach-part speachPart pluralize=true}}</div>
</div>
<ul class="word-translations">
	{{#each translations as |translation|}}
  	<li class="translation">
    	{{translation.value}}
    	{{#if showRemoveButton}} 
	    <span {{action "remove"}} class="glyphicon glyphicon glyphicon-remove btn-sm color-grey pull-right" title="Remove translation"></span>
		{{/if}}
  	</li>
	{{/each}}
</ul>