<ul class="examples-list">
{{#each data as |example|}}
	<li class="example-item">
		<span class='original'>
			{{{example.original}}}
		</span>
		{{#if example.translation}}
			<span class='translation'>
				{{{example.translation}}}
			</span>
		{{/if}}
	</li>
{{/each}}
</ul>