{{#each data as |example|}}
	<div class="example">
		<div class='original'>
			{{{example.original}}}
		</div>
		{{#if example.translation}}
			<hr class="splitter"/>
			<div class='translation'>
				{{{example.translation}}}
			</div>
		{{/if}}
	</div>
{{/each}}