<div class="splitter-block">
  	<hr class="splitter with-caption">
  	<div class="splitter-caption">{{speach-part speachPart pluralize=true}}</div>
</div>
<ul class="word-translations">
	{{#each translations as |translation|}}
  	<li class="translation">
    	{{translation.value}}
      {{#if showRemoveButton}}
      <span class="learn-level pull-right">
        {{learn-battery translation.learnLevel}}
      </span>
      <span class="pull-right">
        <span {{action "remove" translation}} class="glyphicon glyphicon-remove btn-sm color-grey" title="Remove translation"></span>
      </span>
      {{/if}}
  	</li>
	{{/each}}
</ul>