<div class="word-picture text-center">
	<img src="http://d144fqpiyasmrr.cloudfront.net/uploads/picture/128539.png">
</div>
<div class="word-description">
	<div class="word-original-wrap">
		<span class="word-original">vigil</span>
		<span class="word-transctiption">[vˈɪdʒɪl]</span>
		<span class="word-audio"/>
	</div>
	<ul class="word-translations list-unstyled">
		<li><span class='speach-part'>cущ.</span>дежурство</li>
	</ul>
</div>
