<ul class="word-translations">
{{#each translations as |translation|}}
  <li>
    {{translation.value}} 
    <span {{action "remove"}} class="glyphicon glyphicon glyphicon-remove btn-sm color-grey pull-right" title="Remove translation"></span>
  </li>
{{/each}}
</ul>