<div class="col-xs-4">
	{{#link-to 'book' id="currentBook" tabIndex="10" class="overflow-ellipsis"}}
	{{model.book.name}}
	{{/link-to}}
</div>
<div class="col-xs-8 text-right">
	<nav class="words-nav flex-centered">
		{{#each sessionWords as |wordToLearn|}}
			<span class="{{if wordToLearn.isHighlighted 'highlighted'}} {{if wordToLearn.isMistake 'mistake'}} word-circle" title="{{wordToLearn.word.value}}"></span>
		{{/each}}
	</nav>
</div>