<div class="flex-space-around full-height">
	<div class="side-col hidden-xs"></div>
	<div class="learning-col full-height">
	    <div id="stencil" class="fill-absolute">
	    	<div id="top-block"></div>
	    	<div id="magnifier-block">
	    		<div id="learning-cards" class="fill-absolute">
	    			{{#each model as |wordToExam|}}
						{{examination-card wordToExam=wordToExam onSelect=(action "nextWord")}}
					{{/each}}
					{{#if isSummary}}
						{{examination-summary-card hasMoreWordsToExam=hasMoreWordsToExam hasMoreWordsToLearn=hasMoreWordsToLearn  bookName=options.userBook.book.name promotes=promotes onExamMore=(action "changeSession") onLearnMore=(action "learnMore") }}
					{{/if}}
				</div>
			</div>
			<div id="bottom-block"></div>
	    </div>
		<div id="learning-cards-shadow" class="fill-absolute">
			<div class="learning-card" style="background: transparent;"></div>
			{{#each model as |wordToExam|}}
				{{examination-card wordToExam=wordToExam isShadow=true}}
			{{/each}}
			<div class="learning-card" style="background: transparent;"></div>
			<div class="learning-card" style="background: transparent;"></div>
		</div>
	</div>
	<div class="side-col hidden-xs"></div>
</div>