<div class="row full-height">
	<div class="words-col  col-lg-3 col-sm-6 col-xs-12 full-height">
		{{speachpart-block title="Nouns" bookWords=nouns showDetails="showWordDetails" selectWord=(action "selectWord") }}
	</div>
	<div class="words-col  col-lg-3 col-sm-6 col-xs-12 full-height">
		{{speachpart-block title="Verbs" bookWords=verbs showDetails="showWordDetails" selectWord=(action "selectWord")}}
	</div>
	<div class="words-col  col-lg-3 col-sm-6 col-xs-12 full-height">
		{{speachpart-block title="Adjectives" bookWords=adjectives showDetails="showWordDetails" selectWord=(action "selectWord")}}
	</div>
	<div class="words-col  col-lg-3 col-sm-6 col-xs-12 full-height">
		{{speachpart-block title="Adverbs" bookWords=adverbs showDetails="showWordDetails" selectWord=(action "selectWord")}}
	</div>
</div>