<div class="col-xs-4">
	{{#if options.userBook}}
		{{#link-to 'book' id="currentBook" tabIndex="10" class="overflow-ellipsis"}}
			{{options.userBook.book.name}}
		{{/link-to}}
	{{else}}
		{{#link-to 'language' id="currentBook" tabIndex="10" class="overflow-ellipsis"}}
			Book
		{{/link-to}}
	{{/if}}
</div>
<div class="col-xs-8 text-right">
	<nav class="words-nav flex-centered">
		{{#each model as |wordToLearn|}}
			<span class="{{if wordToLearn.isHighlighted 'highlighted'}} word-circle" title="{{wordToLearn.word.value}}"></span>
		{{/each}}
	</nav>
</div>