/***** WARNING ********************************************************************************************************/

#ctr_dialog .ctr-source-warning #MainTxt
    ul 
        list-style: initial !important
        padding: 0 0 0 1.5em !important


    ul.suggestions 
        display: inline-block !important
        margin: 0 !important
        vertical-align: top !important


    li 
        margin: 0 !important
        white-space: nowrap !important
        list-style: initial !important


    a 
        font-weight: 700 !important
        color: #2484c6 !important
        text-decoration: none !important
        transition: all 0.2s linear 0s !important
        
#tfd_article
    div
    div *
        line-height: 150% !important
        color: #404040 !important

    #ThesaurusInner img
        float: right !important


    section 
        padding: 20px !important
        margin:0 !important


    section:last-of-type 
       padding-bottom: 20px !important


    #Definition section:nth-child2n
    #Thesaurus section:nth-child2n
    #Translations section:nth-child2n
    #Verbtables section:nth-child2n
        background: none repeat scroll 0 0 rgba(44,175,227,0.1) !important


    h2:first-child
    h3:first-child
    h4:first-child 
        margin-top: 0 !important


    h2 
        display: inline-block !important
        margin: 12px 0.2rem 6px 0 !important


    h2 
        font-size: 1.8rem !important
        line-height: 1.8rem !important


    .snd
    .snd2 
        display: inline-block !important
        margin: 0 3px 2px !important
        vertical-align: text-bottom !important


    .snd-icon-plain 
        background-position: -314px -319px !important
        width: 12px !important


    [class="i snd-icon"] 
        cursor: pointer !important
        height: 18px !important
        vertical-align: text-bottom !important
        width: 28px !important


    .img
    .i 
        background: url("http://img.tfd.com/sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important
        color: white !important
        display: inline-block !important
        font-size: 0 !important
        letter-spacing: -1px !important
        margin: 0 !important
        overflow: hidden !important
        text-align: left !important
        text-decoration: none !important
        text-indent: -9999px !important
        vertical-align: middle !important


    .pron 
        cursor: pointer !important


    div.def
    div.ds-single
    div.ds-list
    div.notx
    div.regn
    div.sndlst
    div.syntx
    div.usen
    div.wrdhst
    div.sds-single
    div.sds-list 
        margin-left: 1cm !important


    hr 
        background-color: #979898 !important
        border: medium none !important
        color: #979898 !important
        height: 2px !important


    hr.hmshort 
        height: 1px !important
        margin: 6pt auto 4pt 0 !important
        text-align: left !important
        width: 25% !important


    div.etyseg 
        margin-top: 6pt !important


    a 
        color: #2484c6 !important
        text-decoration: none !important
        transition: all 0.2s linear 0s !important


    .content-holder a 
        font-weight: 700 !important


    #ThesaurusHead
    #TranslationsHead 
        background: none repeat scroll 0 0 #eee !important
        border: 11px solid #eee !important
        display: block !important
        height: 26px !important
        box-sizing: content-box !important


    #ThesaurusTitle
    #TranslationsTitle 
        color: #646464 !important
        float: left !important
        font-size: 22px !important
        font-weight: 700 !important
        line-height: 26px !important


    .Ant::before 
        color: #ff6060 !important
        content: "≠" !important
        font-size: 19px !important
        font-weight: 700 !important
        margin-right: 3px !important


    .label
    #ThesaurusHead .Syn
    #ThesaurusHead .Rel
    #ThesaurusHead .Ant
    #DropDownHolder
    #LangDropdownMob 
        float: right !important
        font-size: 13px !important
        line-height: 20px !important
        margin-left: 6px !important
        overflow-x: hidden !important


    .Rel::before 
        color: #8080ff !important
        content: "↔" !important
        font-size: 19px !important
        font-weight: 700 !important
        margin-right: 3px !important


    .Syn::before 
        color: #60ff60 !important
        content: "≡" !important
        font-size: 19px !important
        font-weight: 700 !important
        margin-right: 3px !important


    .label
    #ThesaurusHead .Syn
    #ThesaurusHead .Rel
    #ThesaurusHead .Ant
    #DropDownHolder
    #LangDropdownMob 
        float: right !important
        font-size: 13px !important
        line-height: 20px !important
        margin-left: 6px !important
        overflow-x: hidden !important


    .label 
        line-height: 24px !important


    a 
        font-weight: 700 !important


    .verbtables 
        border: 2px inset #EBE9ED !important


    .hiddenStructure 
        display: none !important


    table.prettytable 
        border-collapse: collapse !important


    table.prettytable TH
    table.prettytable TD 
        border: 1px solid #aaaaaa !important
        padding: 0.2em !important


    table.prettytable TD 
        background: none repeat scroll 0 0 #f9f9f9 !important


    table.prettytable TH 
        background: none repeat scroll 0 0 #f2f2f2 !important
        font-size: 1.1rem !important
        margin: 6px 0 2px !important
        font-weight: bold !important


    .prettytable
        margin: 13px 13px 0 0 !important


    #translbody [lang]
        display: none !important


    .illustration 
        color: #966a00 !important
        font-style: italic !important