/***** NORMALIZE *******************************************************************************************************/
/*
  Set not inherited styles wich does not intersect with browser styles for specific tags
*/
#ctr_root, #ctr_root *{
    background: transparent none repeat scroll 0 0 !important;
    border: none 0 !important;
    border-radius:0 !important;
    border-collapse: collapse !important;
    border-spacing: 0px !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    color: #000 !important;
    direction: ltr !important;
    float: none !important;
    letter-spacing: normal !important;
    line-height: 1.3 !important;
    list-style-type: none !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    max-height:auto !important;
    max-width:auto !important;
    min-height:auto !important;
    min-width:auto !important;
    outline-style:none !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    text-align: left !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-transform: none !important;
    transition: all 0s ease 0s !important;
    vertical-align: baseline !important;
    white-space: normal !important;
    word-spacing: normal !important;
    word-wrap: break-word !important;
}

#ctr_root .rtl {
    direction: rtl !important; 
    text-align: right !important;
    unicode-bidi: bidi-override !important;
}

/* 
  Some sites set styles on tags. And this is a big problem. 
  To preserve our style we should set font style for this tags by ourself
*/
#ctr_root div,
#ctr_root span,
#ctr_root a,
#ctr_root h1,
#ctr_root h2,
#ctr_root h3,
#ctr_root p,
#ctr_root ul,              
#ctr_root li,             
#ctr_root td,
#ctr_root p,
#ctr_root button,
#ctr_root textarea,
#ctr_root input,
#ctr_root option,
#ctr_root b,
#ctr_root strong,
#ctr_root i,
#ctr_root cite,
#ctr_root em,
#ctr_root pre,
#ctr_root tt,
#ctr_root pre { 
  font-family: Arial, Helvetica !important;
}

#ctr_root div,
#ctr_root span,
#ctr_root a,
#ctr_root h1,
#ctr_root h2,
#ctr_root h3,
#ctr_root p,
#ctr_root ul,              
#ctr_root li,             
#ctr_root td,
#ctr_root p,
#ctr_root button,
#ctr_root textarea,
#ctr_root input,
#ctr_root option{
  font-style: normal !important;
}

/*
#ctr_root div,
#ctr_root span,
#ctr_root a,
#ctr_root h1,
#ctr_root h2,
#ctr_root h3,
#ctr_root p,
#ctr_root ul,              
#ctr_root li,             
#ctr_root td,
#ctr_root p,
#ctr_root button,
#ctr_root textarea,
#ctr_root input,
#ctr_root option,
#ctr_root b,
#ctr_root strong,
#ctr_root i,
#ctr_root cite,
#ctr_root em,
#ctr_root pre,
#ctr_root tt,
#ctr_root pre { 
  font-size: 13px;
}*/

#ctr_root div,
#ctr_root form,
#ctr_root h1,
#ctr_root h2,
#ctr_root h3,
#ctr_root p,
#ctr_root ul              { display: block; unicode-bidi: embed }
#ctr_root li              { display: list-item }
#ctr_root table           { display: table }
#ctr_root tr              { display: table-row }
#ctr_root tbody           { display: table-row-group }
#ctr_root td, th          { display: table-cell }
#ctr_root th              { font-weight: bolder; text-align: center }
#ctr_root h1              { font-size: 2em; margin: .67em 0 }
#ctr_root h2              { font-size: 1.5em; margin: .75em 0 }
#ctr_root h3              { font-size: 1.17em; margin: .83em 0 }
#ctr_root p,
#ctr_root ul,
#ctr_root form            { margin: 1.12em 0 }
#ctr_root h1,
#ctr_root h2,
#ctr_root h3,
#ctr_root b,
#ctr_root strong          { font-weight: bolder }
#ctr_root i,
#ctr_root cite,
#ctr_root em              { font-style: italic }
#ctr_root pre,
#ctr_root tt              { font-family: monospace }
#ctr_root pre             { white-space: pre }
#ctr_root img,
#ctr_root button,
#ctr_root textarea,
#ctr_root input,
#ctr_root select          { display: inline-block }
#ctr_root tbody           { vertical-align: middle }
#ctr_root td,
#ctr_root th,
#ctr_root tr              { vertical-align: inherit }
#ctr_root br:before       { content: "\A"; white-space: pre-line }
/***** COMMON *********************************************************************************************************/

#ctr_root .cf:before,
#ctr_root .cf:after {
    content: "";
    display: table;
}

#ctr_root .cf:after {
    clear: both;
}
#ctr_root .cf {
    *zoom: 1;
}
#ctr_root :focus {
	outline: 0;
}

#ctr_root .blue-button{
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%) !important; /* W3C */
    color: #fff !important;
    padding: 3px 15px !important;
    border-radius: 3px !important;
    /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3) !important;*/
    cursor: pointer !important;
    text-align: center !important;    
}


/***** SPINNER ********************************************************************************************************/

#ctr_root .ctr-spinner{
    display: none !important;
    position: relative !important;
    height: 17px !important;
}

#ctr_root .ctr-spinner div {
  width: 7px !important;
  height: 7px !important;
  position: absolute !important;
  left: -20px;
  top: 10px;
  background-color: #64c8ef !important;
  border-radius: 50% !important;
  animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
}
#ctr_root .ctr-spinner div:nth-child(2) {
  animation-delay: 150ms;
}
#ctr_root .ctr-spinner div:nth-child(3) {
  animation-delay: 300ms;
}
#ctr_root .ctr-spinner div:nth-child(4) {
  animation-delay: 450ms;
}
@keyframes move {
  0% {left: 0%;}
  75% {left:100%;}
  100% {left:100%;}
}

/***** FLAGS ********************************************************************************************************/

#ctr_root .ctr-flag-icon{
    width: 24px !important;
    height: 24px !important;
    display: inline-block !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/flags.png') !important;
}

#ctr_root .ctr-flag-icon.ru{background-position: 0 0 !important;}
#ctr_root .ctr-flag-icon.en{background-position: -24px 0 !important;}
#ctr_root .ctr-flag-icon.es{background-position: -48px 0 !important;}
#ctr_root .ctr-flag-icon.pt{background-position: -72px 0 !important;}
#ctr_root .ctr-flag-icon.fr{background-position: -96px 0 !important;}
#ctr_root .ctr-flag-icon.it{background-position: -120px 0 !important;}
#ctr_root .ctr-flag-icon.de{background-position: -144px 0 !important;}
#ctr_root .ctr-flag-icon.ar{background-position: -168px 0 !important;}
