<div id="ctr_dialog" style='display:none;'>
    <span id="ctr_info">Press F1 to see hot keys</span>
    <img id='ctr_settings_icon' src='http://icons.iconarchive.com/icons/grafikartes/flat-retro-modern/16/settings-icon.png'/>
    <span id="ctr_closeBtn" title="{closeBtnHint}">Esc</span>
    <div id="ctr_header">
        <div id="ctr_header_bg"></div>
        <form id="ctr_wordInputForm">
            <div id="sourceLangSelector"></div>
            <input type="text" id="ctr_wordInput" maxlength="255" value="" placeholder="{wordInputHint}" class="ctr-input">
            <div id="targetLangSelector"></div>
        </form>
        <div id="ctr_sources"></div>
        <div class="ctr_hSplitter"></div>
    </div>
    <div style="position:relative !important;">
        <div id='ctr_login_wrap' style='display:none !important;'>
            <form class='ctr-login-form cf'>
                <ul>
                    <li style="padding-right: 10px !important;"><label for="usermail">Email</label>
                    <input type="email" required="" name="usermail"></li>
                    <li><label for="password">Password</label>
                    <input type="password" required="" name="password"></li>
                    <li style="width:100% !important;height:25px !important;overflow:hidden !important;">
                        <div class='ctr-error'></div>
                        <div class="ctr-spinner">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                    </li>
                    <li style='text-align:center !important; width:100% !important;'>
                    <input type="submit" value="Login"></li>
                </ul>
            </form>
        </div>
        <div id="ctr_source_content"></div>
    </div>
    <div id="ctr_notification">
        <div class="ctr-ntfTitle"></div>
        <div class="ctr-ntfBody"></div>
    </div>
</div>