/* LOGIN FORM */

#ctr_root .ctr-login-form{
    height: 190px ! important;
/*    width: 70% ! important;*/
    padding: 10px 15px !important;
}

#ctr_root .ctr-login-form .login-wrap{
    padding-right: 5px !important;
}

#ctr_root .ctr-login-form .password-wrap{
    padding-left: 5px !important;
}

#ctr_root .ctr-login-form .login-wrap,
#ctr_root .ctr-login-form .password-wrap{
  display: inline-block !important;
  width: 49% !important;
}

#ctr_root .ctr-login-form label {
  display: block !important;
  color: #999 !important;
  font-size: 11px !important;
  width: 100% !important;
}

#ctr_root .ctr-login-form input:not([type=submit]) {
  padding: 3px !important;
  margin-right: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 3px !important;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 0px 0px rgba(250, 250, 250, 0.5) !important;
    transition: background-color 0.2s;
    width: 100% !important;
}
#ctr_root .ctr-login-form input:not([type=submit]):focus{
    background-color: #fffec9 !important;
}

#ctr_root .ctr-login-form input[type=submit] {
  margin-right: 0 !important;
  width: 100% !important;
}

#ctr_root .blurred{
  opacity: 0.8 !important;
}

#ctr_root .blurred:hover{
  opacity: 1 !important;  
}

#ctr_root .ctr-login-form .ctr-error{
    font-size: 11px !important;
    color:red !important;
    padding: 4px 2px !important;
}

#ctr_root .preferred-login {
    padding:0 !important;
    cursor: pointer !important;
    background: #e0492f !important;
    border-radius: 3px !important;
    width: 388px !important;
    height: 22px !important;
    display: inline-block !important;
    text-align: center !important;
}

#ctr_root .preferred-login:focus {
    outline: none !important;
}
#ctr_root .preferred-login.google-login {
    border: 1px solid #e0492f !important;
}
#ctr_root .preferred-login .icon-container {
    display: inline-block !important;
    width: 28px !important;
    height: 100% !important;
    padding: 0 !important;
    float: left !important;
}
#ctr_root .preferred-login .icon {
    background: url('http://cdn.sstatic.net/img/openid/universal-login-sprite.png?v=081e7998ef2c') !important;
    display: inline-block !important;
    margin: 3px auto !important;
    width: 16px !important;
    height: 16px !important;
}
#ctr_root .preferred-login.google-login .icon {
    background-position: 0 0 !important;
}
#ctr_root .preferred-login.google-login .icon-container {
    border-right: 1px solid #bf3b24 !important;
    text-align: center !important;
}
#ctr_root .preferred-login .text {
    width: 358px !important;
    height: 100% !important;
    display: table !important;
}
#ctr_root .preferred-login .text span {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
    color: #fff !important;
    font-size: 13px !important;
}
#ctr_root .cbt {
    clear: both !important;
}

#ctr_root .or-container {
    text-align: center !important;
    margin: 15px 0 2px !important;
    color: #808080 !important;
    font-variant: small-caps !important;
}
#ctr_root .or-hr {
    margin-bottom: -16px !important;
    height: 0 !important;
    border: 0 !important;
    border-top: 1px solid #e6e6e6 !important;
}
#ctr_root #or {
    display: inline-block !important;
    position: relative !important;
    padding: 6px !important;
    background-color: #fff !important;
}

#ctr_root .ctr-login-form .ctr-signUp-wrap{
    margin-top: 18px !important;
    text-align: center !important;
}

#ctr_root .ctr-login-form .ctr-signUp{
    color: #428bca !important;
}