#linguee_article
    .ctr-tab-content
        padding: 20px !important
        font-weight: 400 !important
        font-style: italic !important
        font-size: 15px !important
        color: #888 !important
        line-height: 1.35em !important
        position: relative !important

    .lemma
        vertical-align: top !important
        margin: 10px 0 25px 0 !important

    .lemma_desc
        padding: 0 0 5px 0 !important

    h2
    h3
        font-weight: normal !important
        color: #333 !important

    h2
        font-size: 20px !important
        margin-bottom: 20px !important

    h2.lemma_desc
        margin: 0 !important

    .inexact .lemma_desc
    .inexact h2.lemma_desc
        display: inline-block !important
        padding-right: 0 !important
        font-size: 14px !important
        font-weight: normal !important
        font-style: normal !important

    .inexact .lemma_desc
        padding: 0 !important

    .lemma .tag_trans
    .lemma .tag_trans a 
    .lemma .tag_t
    .lemma .tag_t a 
    .lemma .tag_trans
        color: #265180 !important

    .tag_lemma
        font-size: 20px !important
        font-weight: 400 !important
        color: #265180 !important
        font-style: normal !important

    .lemma .tag_lemma 
    .lemma .tag_lemma a 
    .lemma .tag_s
    .lemma .tag_s a 
    .lemma .tag_trans_src_context
        color: #333 !important

    .inexact .tag_lemma
        font-size: 13px !important

    .inexact .tag_trans
        font-size: 13px !important
        color: #333 !important
        font-style: normal !important

    #small_logo
    #search_button 
    a.audio
    a.expand_i 
    .source_url 
    .warnSign
    .warnSign2
        background-image: url('../../../images/linguee/sprites14.png') !important
        background-repeat: no-repeat !important

    a.audio
        position: relative !important
        cursor: pointer !important
        top: 3px !important
        display: inline-block
        width: 19px !important
        height: 17px !important
        background-position: -40px -38px !important
        opacity: .5 !important
        opacity: .45 !important

    .exact .tag_lemma a.audio 
        top: 2px !important


    .tag_trans 
        font-size: 16px !important
        color: #333 !important
        font-style: normal !important
        display: inline-block !important
        min-height: 20px !important


    .tag_type 
    .tag_wordtype 
        color: #888 !important
        font-weight: normal !important
        font-style: italic !important
        font-size: 13px !important
        margin-right: 2px !important


    .tag_wordtype 
        font-size: 15px !important
        margin-left: 0 !important


    .tag_wordtype 
        display: inline-block !important


    .tag_s 
        color: #265180 !important
        font-style: normal !important


    .tag_c
    .tag_t
    .tag_s
    .tag_area
    .tag_usage
    .tag_forms 
        font-size: 13px !important


    .lemma_desc .dash 
        font-size: 14px !important
        font-style: normal !important
        color: #888 !important
        padding-left: 7px !important
        padding-right: 7px !important


    .exact .lemma_desc .dash 
        display: none !important


    .lemma_content 
        padding: 0 !important
        position: relative !important
        margin-bottom: 8px !important

    .lemma_content 
        padding-left: 40px !important


    .inexact .lemma_content 
        padding-left: 0 !important


    .inexact .lemma_content 
        display: inline !important

    .group_line .translation_desc 
        text-indent: 0 !important
        display: inline !important
        padding: 2px 10px 1px 0 !important
        padding-left: 0 !important

    .inexact .translation_lines
    .inexact .translation_group
    .inexact .line 
        display: inline !important


    .line .translation 
        display: inline-block !important; 
        line-height: 1.4em !important
        text-indent: 0 !important

    .inexact .sep 
        font-size: 9px !important

    .sep 
        font-size: 11px !important
        color: #888 !important
        padding-right: 10px !important


    .result_table 
        font-family: Arial,sans-serif !important
        border-spacing: 0 !important
        width: 100% !important
        empty-cells: show !important
        clear: both !important
        border-collapse: separate !important
        table-layout: fixed !important


    .result_table 
        table-layout: fixed !important

    td 
        padding: 0 !important
        text-align: left !important

    .result_table td 
        font-style: normal !important
        font-size: 12px !important

    td.sentence 
        width: 50% !important

    tbody.examples td 
        padding: 6px 7px 4px 7px !important
        border-top: 1px solid #ddd !important
        vertical-align: top !important
        font-size: 12px !important
        line-height: 1.5em !important

    tr.row_first td
    tbody.examples tr.row_first.row_last td 
        border-top: 0 !important

    tbody.examples td.sentence 
        color: #3c3c3c !important

    tbody.examples td.sentence.left 
        padding-left: 0 !important

    .wrap 
        position: relative !important
        height: 100% !important

    .warnSign
    .warnSign2
        background-position: -76px -38px !important


    .warnSign 
        width: 16px !important
        height: 10px !important
        position: relative !important
        display: inline-block !important
        vertical-align: text-bottom !important
        top: -2px !important


    .warnSign2 
        width: 16px !important
        height: 10px !important

    b.b1 
        font-weight: normal
        color: #303030 !important
        background-color: #fffeef !important

    b.b2 
        font-weight: normal !important
        color: #242424 !important
        background-color: #fffeef !important

    b.b3 
        font-weight: normal !important
        color: #181818 !important
        background-color: #fffccf !important

    b.b4 
        font-weight: normal !important
        color: #0c0c0c !important
        background-color: #fffccf !important

    b.b5 
        font-weight: normal !important
        color: #000 !important
        background-color: #fffbb8 !important

    .left b.b5 
        background-color: #fffbb8 !important

    .source_url_spacer 
        font-style: italic !important
        font-size: 11px !important
        color: #777 !important
        padding-left: 15px !important
        display: inline !important
        visibility: hidden !important
        margin-left: 15px !important

    .source_url 
        font-style: italic !important
        font-size: 11px !important
        color: #777 !important
        padding-left: 16px !important
        position: absolute !important
        bottom: 0 !important
        right: 0 !important
        height: 18px !important
        background-position: -226px 4px !important

    .source_url a 
        color: #777 !important

    a:link
    a:visited 
        text-decoration: none !important

    a[href]
    a[onclick]
    a[href] b 
        cursor: pointer !important

    .placeholder 
        font-size: smaller !important

    .placeholder_begin2
    .placeholder_end2 
        display: none !important

    .shortened_end2 
        display: inline !important

    .singleline 
        position: relative !important
        padding-right: 20px !important

    .lemma 
        vertical-align: top !important
        margin: 0 !important

    .inexact div.singleline 
        text-indent: 0 !important
        padding-left: 0 !important
        

    #soundFlags 
        position: absolute !important
        z-index: 10000 !important
        font-size: 11px !important
        ul 
            position: relative !important
            list-style: none !important
            margin: 0 0 -4px 0 !important
            padding: 0 !important
            overflow: hidden !important
            background-color: #fff !important
            border: 1px solid #ccc !important
            font-size: 13px !important
        ul li 
            padding: 2px 20px 2px 19px !important
            text-align: left !important
            color: #000 !important
            position: relative !important
        ul li A 
            display: block !important
            width: 100% !important
            padding: 2px 10px 2px 10px !important
            color: #333 !important
            cursor: pointer !important
            text-decoration: underline !important
        .loudspeaker 
            position: absolute !important
            right: 2px !important
            top: 2px !important
            display: block !important
            width: 16px !important
            height: 21px !important
            background: url('../../../images/linguee/sprites14.png') no-repeat -60px -38px !important
            padding-right: 1px !important
            opacity: .5 !important
        .flagsmall 
            position: absolute !important
            left: 6px !important
            top: 6px !important
            width: 17px !important
            height: 12px !important
            display: inline-block !important
            vertical-align: text-top !important
            margin-bottom: -1px !important
            background: url('../../../images/linguee/sprites14.png') no-repeat -165px -0px !important
        .flagsmall.flagsmall_de 
            background-position: -165px -0px !important
        .flagsmall.flagsmall_fr 
            background-position: -165px -15px !important
        .flagsmall.flagsmall_es_es
        .flagsmall.flagsmall_es 
            background-position: -165px -30px !important
        .flagsmall.flagsmall_pt_pt
        .flagsmall.flagsmall_pt 
            background-position: -165px -45px !important
        .flagsmall.flagsmall_en_uk
        .flagsmall.flagsmall_gb
        .flagsmall.flagsmall_en 
            background-position: -165px -60px !important
        .flagsmall.flagsmall_en_us
        .flagsmall.flagsmall_us 
            background-position: -165px -75px !important
        .flagsmall.flagsmall_pt_br
        .flagsmall.flagsmall_br 
            background-position: -165px -180px !important
        .flagsmall.flagsmall_ru 
            background-position: -165px -120px !important
        li.playing a.audio 
            color: #000 !important
        li.playing .loudspeaker 
            background: url('../../../images/linguee/sprites14.png') no-repeat -40px -38px !important
            opacity: 1 !important