#multitran_article
    .ctr-tab-content
        padding: 20px !important

    a:link  
        color: #0000EE !important


    a:link *  
        color: #0000EE !important


    td.gray 
        background-color: #DBDBDB !important


    td.subj 
        padding-left: 3px !important
        padding-right: 3px !important
        font-style: italic !important
        text-align: left !important
        vertical-align: text-top !important


    td.trans 
        padding-left: 3px !important
        padding-right: 3px !important
        text-align: justify !important
        vertical-align: text-top !important