@{
    ViewBag.Title = "Sign In Error";
}

<link href="~/Content/account.css" rel="stylesheet" />

<div class="centered-container">
    <div class="centered-ui">
        <div class="form-container">
            <h3 class="text-error">
                Sorry, error occured during login. @Html.ActionLink("Try again","Login"), please.
            </h3>
            <br>
            <br>
            Support: <a href="mailto:wsbaser@gmail.com">wsbaser@gmail.com</a>
        </div>
    </div>
</div>