@{
    ViewBag.Title = "Sign In Error";
}

<link href="~/Content/account.css" rel="stylesheet" />

<div class="login-container">
    <div class="login-ui">
        <div id="formContainer">
            <h3 class="text-error">Unable to login with external service.</h3>
        </div>
    </div>
</div>