{{outlet "root"}}
<div id="page" class="container">
	<div id="toolbox">
		<div class="row">
			{{outlet "toolbox"}}
		</div>
	</div>
	<div id="content">
		{{outlet "content"}}
	</div>
	{{outlet "wordTranslation"}}
</div>