<div id="content" class="centered-container">
    <div class="centered-ui">
        <div class="centered-header">
            Create a new book
        </div>
        <div class="form-container">
            <form {{action "createBook" on="submit"}} class="clearfix">
                <label for="Name">Name</label>
                {{input preventDefault=true value=model.name id="Name" name="Name"  type="text" required="true" placeholder="Type in book name"}}
                <div class="validation-summary">{{validationError}}</div>
                {{input type="submit" class="pull-right" value="Create"}}
            </form>
        </div>
    </div>
</div>