<div tabIndex="1" id="word_details_popover" class="popover">
   	<div class="arrow"></div>
   	<div class="popover-content">
          BookWord
          id:{{model.id}}
          name:{{model.name}}
   	</div>
</div>